@model IEnumerable<Posts>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @*<div class="row">*@
        <div class="col-lg-4">
            @foreach (var item in Model)
            {
                <div class="post">
                <p>@Html.DisplayFor(m => item.Content)</p>
                @if (item.ImageUrl != "DNE")
                {
                    <img src="@item.ImageUrl" style="width: 100%;" />
                }

                <p>@Html.DisplayFor(m => item.PostType)</p>
                </div>



            }
        </div>
    @*</div>*@

</div>
